
body {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
	text-align: center;
}

.title {
	margin-top: 40px;
	font-size: 60px;
	color: #eee;
}

.container {
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}

.round-button {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	margin: 0 auto;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.by-elfrey {
	margin-top: 40px;
}

#background {
	padding: 0;
	margin: 0;
	background-image: url(../resources/bg1.png);
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}


.chart {
	width: 50%;
	margin: 10px auto;
	max-width: 300px;
}

.chart .bar {
	width: 0;
	transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;

	font: 12px;
	background-color: steelblue;
	padding-left: 5px;
	text-align: left;
	margin: 2px 0;
	color: #eee;
}